#content{
    text-align: center;
    padding-top:25%;
    font-family:'Chakra Petch', sans-serif;
    color:black;
    text-shadow: 0px 4px 3px orange,
                 0px 8px 13px rgba(31, 77, 107, 0.1)
                 0px 18px 23px rgba(57, 121, 20, 0.8);
}

body{
    background:url("sky.jpeg");
    background-size: cover;
    background-position: center;
}
html{
    height:100%;
}
h1{
    font-weight: 700;
    font-size:5em;
}

hr{
    width:400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
